/BaseSpringBootProject/uploadfiles
/BaseSpringBootProject/.gradle
/BaseSpringBootProject/bin
/BaseSpringBootProject/build
/BaseSpringBootProject/gradle
/BaseSpringBootProject/logs
/PringbootStut/build
/PringbootStut/gradle
/PringbootStut/logs
/PringbootStut/.gradle
/PringbootStut/bin
/SpringBootMybatisBase/gradle
/SpringBootMybatisBase/.gradle
/SpringBootMybatisBase/bin
/SpringBootMybatisBase/build
/SpringBootMybatisBase/docs
